{% extends "base" %}

{% block content %}
    <aside>
        {% include "portfolio/user_aside" %}
    </aside>
    <main>
        {% if user.competences %}
            <section>
                {% include "portfolio/competences" %}
            </section>
        {% endif %}
        <section>
            <header>
                Parcours
            </header>
            <div class="content">
                efzef
            </div>
        </section>
    </main>
{% endblock %}